<div class="cardContainer">
<div class="card">
    <img class="card-img-top" src="https://i.ibb.co/wCYwcNC/Screenshot-2024-08-11-153509.png" width="300"alt="SuperPay" />
    <br>
    <div class="card-body">
        <h4 class="card-title"><b>Payment Method</b></h4>
        <p class="card-text"></p>
        <!--COMPONENT GDEED???-->
        <app-body></app-body>
        <img class="card-img-bottom" src="https://forasna-images.wuzzuf-data.net/uploads/logos/clogo_2023-09-26-17-19-25_VTbw2NfNXVsAq820vqwkiQXX.jpeg">
    </div>
</div>
</div>





