<div class="cardContainer">
    <div class="card">
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <!--Username-->
              <div class="form-group mb-3">
                <label>Username*</label>
                <input [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched " type="username" class="form-control" formControlName="username">
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
              <small class="text-danger" *ngIf="loginForm.get('username')?.errors?.['required']">Username is required</small>
              </div>
              </div>
            <!--Password-->
              <div class="form-group mb-3">
                <label>Password*</label>
                <input [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched " type="text" class="form-control" formControlName="password">
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                  <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
                </div>
              </div>
            
              <p *ngIf="loginForm.invalid">Form is invalid</p>
              <p *ngIf="loginForm.valid">Form is valid</p>

               <button class="btn btn-primary mb-3" type="submit" [disabled]="loginForm.invalid">Login</button>
               
              </form>
    </div>
</div>
</div>
